.emiliaprojectstab {
	display: none;
	margin-top: 15px;
	max-width: 800px;

	&.active {
		display: block
	}
	
	strong {
		font-size: 115%
	}
	
	.dashicons-email-alt {
		color:#00f
	}

	table th {
		width: 250px;
	}
}
